<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
   <div class="container">
      <div class="card">
        <div class="container">
            <div class="card-body" style="background-color: #339da1">
                <div align="center" style="color:white;text-align: left;">
                    Employee Balance
                </div>
            </div>
        </div>

        <div class="card-body">
            <form>
                <table id="table1">
                    <tr class="row">
                        <td class="col-12 col-md-9"></td>
                        <td class="col-12 col-md-3">
                            <a routerLink="/employeebalanceAdd" class="btn btn-success btn-lg" type="submit">Add</a>
                        </td>
                    </tr>
                </table>
                <table class="table" >
                    <thead>
                        <tr class="row trow">
                            <th class="col-6 col-lg-3">Employee Name</th>
                            <th class="col-6 col-lg-3">Vacation Type</th>
                            <th class="col-6 col-lg-3">Balance</th>
                            <th class="col-6 col-lg-3">Used</th>
                        </tr>
                    </thead>
                    <tbody>
                          <tr class="row trow" name="datarow" *ngFor="let vacationview of allVacationviews; let i = index;">
                              <td class="col-6 col-lg-3">{{vacationview.fullName}}</td>
                              <td class="col-6 col-lg-3">{{vacationview.type}}</td>
                              <td class="col-6 col-lg-3">
                                <input class="inputs balanceinput" [(ngModel)]="vacationview.balance" placeholder="{{vacationview.balance}}" name="balance{{i}}" [ngModelOptions]="{standalone: true}">
                              </td>
                              <td class="col-6 col-lg-3">{{vacationview.used}}</td>
                          </tr>
                          <tr class="row">
                              <td class="col-12 col-md-9"></td>
                              <td class="col-12 col-md-3">
                                  <button type="button" class="btn btn-lg savebtn" (click)="changeEmployeeBalance(allVacationviews)">Save</button>
                                  <!--[disabled] = "vacationForm.get('balance').touched" -->
                              </td>
                          </tr>
                    </tbody>
                </table>
            </form>
          </div>
        </div>
    </div>

</body>
