<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
     <div class="container">
        <div class="card">
            <div class="container">
                <div class="card-body" style="background-color: #339da1">
                    <div align="center" style="color:white;text-align: left;">
                        Employee Balance
                    </div>
                </div>
            </div>
            <br><br>
             <div class="card-body">
                <form [formGroup]="employeebalanceForm"(ngSubmit)="onFormSubmit()">
                    <table id="table1">
                        <tr class="row row1">
                             <td class="col-12 col-md-6">
                              <label for="EmployeeName">Employee Name:</label>
                                <select name="EmployeeName" class="dropdown" formControlName="employeeid">
                                    <option *ngFor="let employee of employeeList" [value]="convertValue(employee.id)">{{employee.fullName}}</option>
                                </select>
                              <!--<app-control-messages [control]="employeebalanceForm.get('employeeid')"></app-control-messages>-->
                               <div *ngIf="employeebalanceForm.get('employeeid').invalid && (employeebalanceForm.get('employeeid').dirty || employeebalanceForm.get('employeeid').touched)">
                                  <div class="diverror" *ngIf="employeebalanceForm.get('employeeid').errors.required">Required</div>
                              </div>
                            </td>
                            <td class="col-12 col-md-6">
                                <label for="VacationType">Vacation Type:</label>
                                <select [(ngModel)]="vacationObj" class="dropdown" formControlName="vacationid">
                                    <option *ngFor="let vacation of vacationList" [value]="convertValue(vacation.id)">{{vacation.type}}</option>
                                </select>
                                <!--<app-control-messages [control]="employeebalanceForm.get('vacationid')"></app-control-messages>-->
                                <div *ngIf="employeebalanceForm.get('vacationid').invalid && (employeebalanceForm.get('vacationid').dirty || employeebalanceForm.get('vacationid').touched)">
                                  <div class="diverror" *ngIf="employeebalanceForm.get('vacationid').errors.required">Required</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="row row1">
                             <td class="col-12 col-md-12">
                                <input formControlName="balance" class="inputs" placeholder="Balance">
                                <!--<app-control-messages [vacationType]="vacationtype" [control]="employeebalanceForm.get('balance')"></app-control-messages>-->
                                <div *ngIf="employeebalanceForm.get('balance').invalid && (employeebalanceForm.get('balance').dirty || employeebalanceForm.get('balance').touched)">
                                  <div class="diverror" *ngIf="employeebalanceForm.get('balance').errors.required">Required</div>
                                  <div class="diverror" *ngIf="errormessage !== null"> {{errormessage}}</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-12 col-md-6"></td>
                            <td class="col-12 col-md-6">
                              <button type="submit" class="btn btn-primary" [disabled]="!employeebalanceForm.valid">Submit</button>
                              <button type="reset" class="btn btn-danger" (click)="resetForm()">Reset</button>
                            </td>
                        </tr>
                    </table>
                </form>
             </div>
        </div>
     </div>
</body>
