<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
      <div class="container">
          <div class="card">
            <div class="container">
                <div class="card-body" style="background-color: #19659c">
                    <div align="center" style="color:white;text-align: left;">
                        Employee Form
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body">
              <form [formGroup]="employeeForm"(ngSubmit)="onFormSubmit()">
                    <table id="table1">
                        <tr class="row row1">
                            <td class="col-12 col-md-6">
                                <input formControlName="fullName" class="inputs" placeholder="Employee Name">
                                <div *ngIf="employeeForm.get('fullName').invalid && (employeeForm.get('fullName').dirty || employeeForm.get('fullName').touched)">
                                  <div class="diverror" *ngIf="employeeForm.get('fullName').errors.required">Required</div>
                                </div>
                                <!--<mat-error>
                                  <span *ngIf="!employeeForm.get('fullName').value && employeeForm.get('fullName').touched"></span>
                                </mat-error>-->
                            </td>
                            <td class="col-12 col-md-6">
                                <!--<input class="inputs" placeholder="Choose Date Of Birth">-->
                                <input class="inputs" matInput [matDatepicker]="picker"matTooltip="Enter Date Of Birth" formControlName="birthDate"placeholder="Choose Date Of Birth">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <div *ngIf="employeeForm.get('birthDate').invalid && (employeeForm.get('birthDate').dirty || employeeForm.get('birthDate').touched)">
                                  <div class="diverror" *ngIf="employeeForm.get('birthDate').errors.required">Required</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="row row1">
                            <td class="col-12 col-md-6">
                                <input formControlName="email" class="inputs" placeholder="Email">
                                <div *ngIf="employeeForm.get('email').invalid && (employeeForm.get('email').dirty || employeeForm.get('email').touched)">
                                  <div class="diverror" *ngIf="employeeForm.get('email').errors.required">Required</div>
                                  <div class="diverror" *ngIf="errormessage !== null">{{errormessage}}</div>
                                </div>
                                <!--<mat-error>
                                  <span *ngIf="!employeeForm.get('email').value && employeeForm.get('email').touched"></span>
                                </mat-error>-->
                            </td>
                            <td class="col-12 col-md-6">
                                <span>Gender: </span>
                                <mat-radio-group matTooltip="Enter Gender" formControlName="gender">
                                  <mat-radio-button class="mr-1" value="Male">Male</mat-radio-button>
                                  <mat-radio-button class="mr-1" value="Female">Female</mat-radio-button>
                                </mat-radio-group>
                                <div *ngIf="employeeForm.get('gender').invalid && (employeeForm.get('gender').dirty || employeeForm.get('gender').touched)">
                                  <div class="diverror" *ngIf="employeeForm.get('gender').errors.required">Required</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-12 col-md-6"></td>
                            <td class="col-12 col-md-6">
                              <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid" >Submit</button>
                              <button type="reset" class="btn btn-danger" (click)="resetForm()">Reset</button>
                            </td>
                        </tr>
                    </table>
                </form>
           </div>
        </div>
    </div>
</body>
